DB_USER=banco
DB_PASSWORD=bancopass
DB_NAME=creditdb
CORS_ORIGINS=http://localhost:4200

# Frontend nginx
# DEV: hostname interno Docker Compose
# PROD (Railway): https://<url-orquestador>.railway.app
BACKEND_URL=http://credit-orchestrator:8080
NGINX_RESOLVER=127.0.0.11
